.body {
	background-color: lavender;
}
table, tr, td{
	width: 600px;
	border : solid 2px;
	border-collapse: collapse;
	padding: 10px;

}

textarea.textarea {
	max-height: 80px;
	max-height: ;
	min-height: 70px;
	max-width: 100%;
	min-width: 100%;
}

div.table-align {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
